Screen {
    layout: horizontal;
}

.left-bar {
    height: 100%;
    width: 20%;
    background: #495057;
    padding: 1 2;
}

.body {
    height: 100%;
    width: 80%;
    background: #212529;
    padding: 1 2;
}

#input {
    margin: 5;
}
