Screen {
    layout: horizontal;
}

.left-bar {
    height: 100%;
    width: 20%;
    background: #343A40;
    padding: 1 2;
    border-right: solid #212529;
}

#token-info {
    text-align: center;
    padding: 2 1;
    color: #F8F9FA;
}

.body {
    height: 100%;
    width: 80%;
    background: #212529;
    padding: 0;
    margin: 0;
}

ChatHistory {
    height: 90%;
    margin: 0;
    padding: 1;
}

ChatMessage {
    width: 100%;
    padding: 1 2;
    margin: 0 0 1 0;
}

.user {
    width: 100%;
    height: auto;
    margin: 0 0 1 0;
    border-left: solid #CDB4DB;
    padding-left: 1;
    background: transparent;
}

.user-content {
    width: 1fr;
    height: auto;
    background: #343A40;
    padding: 1 2;
}

.bot {
    width: 100%;
    height: auto;
    margin: 0 0 1 0;
    background: transparent;
}

.bot-icon {
    width: auto;
    height: auto;
    padding: 0 1 0 0;
    content-align: center middle;
    background: transparent;
}

.bot-content {
    width: 1fr;
    height: auto;
    background: transparent;
    padding: 0;
}

.thinking {
    text-style: italic;
    color: #ADB5BD;
    background: transparent;
    text-align: center;
}

InputPrompt {
    height: 7%;
    padding: 0 1;
    margin: 1 0;
}
