Screen {
    layout: horizontal;
}

.left-bar {
    height: 100%;
    width: 20%;
    background: #495057;
    padding: 1 2;
}

.body {
    height: 100%;
    width: 80%;
    background: #212529;
    padding: 0;
    margin: 0;
}

ChatHistory {
    height: 90%;
    margin: 0;
    padding: 1;
}

ChatMessage {
    width: 100%;
    padding: 0 1;
}

InputPrompt {
    height: 7%;
    padding: 0 1;
}

Label {
    background: #343A40;
}
