Screen {
    layout: horizontal;
}

.left-bar {
    height: 100%;
    width: 20%;
    background: #495057;
    padding: 1 2;
}

.body {
    height: 100%;
    width: 80%;
    background: #212529;
    padding: 0;
    margin: 0;
}

ChatHistory {
    height: 90%;
    margin: 0;
    padding: 1;
}

ChatMessage {
    width: 100%;
    padding: 1 2;
    margin: 0 0 1 0;
}

.user {
    background: #343A40;
}

.bot {
    background: #495057;
}

.thinking {
    text-style: italic;
    color: #ADB5BD;
    background: transparent;
    text-align: center;
}

InputPrompt {
    height: 7%;
    padding: 0 1;
    margin: 1 0;
}
